# Redis configuration Example
REDIS_PASSWORD = rag_redis_2222

# Presistence
REDIS_APPENDONLY=yes

# Memory management 
REDIS_MAXMEMORY=512mb
REDIS_MAXMEMORY_POLICY=allkeys-lru

# Security
REDIS_PROTECTED_MODE=yes
