# RabbitMQ configuration Example
RABBITMQ_DEAFULT_USER=rag_user
RABBITMQ_DEAFULT_PASS=rag_rabbitmq_2222
RABBITMQ_DEAFULT_VHOST=rag_vhost

# Management Plugin 
RABBITMQ_MANAGEMENT_ENABLE=true


# Security
RABBITMQ_AUTH_BACKEND=rabbit_auth_backend_internal

# Performance
RABBIT_DISK_FREE_LIMIT=2000000000